[Desktop Entry]
Name=Code Manager
Type=Application
Terminal=false
Exec=python3.6 /home/jonathan/Desktop/Systems/Projects/GTK/Template/app/run.py
Icon=/home/jonathan/Desktop/Systems/Projects/GTK/Template/app/images/file.png
